@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --main-color: rgb(98, 0, 255);
    --shadow-color: rgb(183, 183, 184);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--shadow-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 4px var(--shadow-color);
    border-radius: 50%;
    font-weight: bold;
    color: rgb(53, 53, 53);
    font-size: 14px;
}

.active {
    background-color: var(--main-color);
    border: solid 4px var(--main-color);
    color: rgb(240, 240, 243);
    transition: 0.4s ease;
}

.btn {
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 14px;
    transition: 0.4s ease;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--shadow-color);
    color: black;
    cursor: not-allowed;
}